node_modules/
build/
dist/
coverage/
.DS_Store
*.log

# Variáveis de ambiente
.env
.env.*

# Firebase / Service Accounts
*serviceAccount*.json
firebase-debug.log
.firebase/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/